# Find plugins for your editor here: http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

# Set indentation for JS files
[*.{js,ts,tsx}]
indent_size = 2

# Set indentation for CSS files
[*.{css}]
indent_size = 2

# Set indentation for PHP files
[*.php]
indent_size = 2